
<template name="apollosIcon">
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
  	 viewBox="0 0 150 150" style="enable-background:new 0 0 150 150;" xml:space="preserve">
  <style type="text/css">
  	.apollos-st0{clip-path:url(#SVGID_2_);}
  	.apollos-st1{fill:none;stroke:#DDDDDD;stroke-miterlimit:10;}
  	.apollos-st2{fill:none;stroke:#523680;stroke-miterlimit:10;}
  	.apollos-st3{fill:#523680;}
  </style>
  <g id="XMLID_86_">
  	<g>
  		<defs>
  			<circle id="SVGID_1_" cx="75" cy="75" r="75"/>
  		</defs>
  		<clipPath id="SVGID_2_">
  			<use xlink:href="#SVGID_1_"  style="overflow:visible;"/>
  		</clipPath>
  		<g id="XMLID_81_" class="apollos-st0">

  				<rect id="XMLID_201_" x="-21" y="31.3" transform="matrix(-0.9136 -0.4067 0.4067 -0.9136 43.97 200.5362)" class="apollos-st1" width="128.6" height="128.6"/>

  				<rect id="XMLID_202_" x="35.2" y="0.3" transform="matrix(-0.9136 0.4067 -0.4067 -0.9136 166.8815 50.8003)" class="apollos-st1" width="85.7" height="85.7"/>

  				<rect id="XMLID_203_" x="18.9" y="40.7" transform="matrix(-0.9136 -0.4067 0.4067 -0.9136 60.0097 147.7321)" class="apollos-st1" width="53.6" height="53.6"/>

  				<rect id="XMLID_206_" x="46.3" y="37.6" transform="matrix(-0.9136 0.4067 -0.4067 -0.9136 128.7193 69.241)" class="apollos-st2" width="21.4" height="21.4"/>
  		</g>
  	</g>
  	<g>
  		<g id="XMLID_78_">
  			<path class="apollos-st3" d="M75,1c40.8,0,74,33.2,74,74s-33.2,74-74,74S1,115.8,1,75S34.2,1,75,1 M75,0C33.6,0,0,33.6,0,75
  				s33.6,75,75,75s75-33.6,75-75S116.4,0,75,0L75,0z"/>
  		</g>
  	</g>
  </g>
  </svg>

</template>
